#container {
  width: 60%;
  margin-left: 20%;
}

.header {
    font-family: "Roboto Slab";
    font-size: 24px;
  	margin-top: 15px;
  	padding:0 15px;
}

.subheader {
	font-size: 15px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.content {
  	font-size: 12px;
  	padding: 15px;
  	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.sample {
  display: inline-block;
}